{% if settings.notify_me_form %}  
  <div class="notify_form" id="notify-form-{{ product.id }}" {% if product.available %}style="display:none"{% endif %}>
    {% form 'contact' %}
      {% if form.posted_successfully? %}
        <p><em>Thanks! We will notify you when this product becomes available!</em></p>
      {% elsif form.errors %}
        <p><em>Please provide a valid email address.</em></p>
      {% else %}
        <p>
          <label for="contact[email]">Notify me when this product is available:</label>
          
          {% if customer %}
            <input type="hidden" name="contact[email]" value="{{ customer.email }}" />
          {% else %}
            <input required type="email" name="contact[email]" id="contact[email]" placeholder="Enter your email address..." value="{{ contact.fields.email }}" style="display:inline;margin-bottom:0px" />
          {% endif %}
          
          <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | remove: '"' }} becomes available - {{ shop.url }}{{ product.url }}" />
          <input class="submit" type="submit" value="Send" style="margin-bottom:0px" />    
        </p>
      {% endif %}
    {% endform %}
  </div>
{% endif %}