<div class="eight columns {% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
  <div id="product_slider" class="flexslider">
    <ul class="slides">
      {% for image in product.images %}
        <li data-thumb="{{ image | product_img_url: 'large' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
          {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
            {% assign src = image.alt | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first %}

            {% if src contains '?' %}
              {% assign src = src | append: '&amp;autoplay=1' %}
            {% else %}
              {% assign src = src | append: '?autoplay=1' %}
            {% endif %}

            <div class="video-container">
              <a href="{{ src }}" class="fancybox fancybox.iframe" rel="group" title="{{ product.title | escape }}">
                {{ image.alt }}
              </a>
            </div>
          {% else %}
            <a href="{{ image | product_img_url: 'master' }}" class="fancybox" rel="group" title="{{ image.alt | escape }}">
              <img src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" itemprop="image" data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', hoverIntentDelay: 100" class="cloudzoom" />
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  &nbsp;
</div>
