<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="right">
        {% if collection.previous_product %}
          &laquo; {{ 'Prev' | link_to: collection.previous_product }}
          {% if collection.next_product %}|{% endif %}
        {% endif %}

        {% if collection.next_product %}
          {{ 'Next' | link_to: collection.next_product }} &raquo;
        {% endif %}
    </div>

    {% if collection %}
      <a href="{{ collection.url }}" title="{{ collection.title | escape }}">&lt; {{ collection.title }}</a>
    {% else %}
      <a href="/collections/all" title="All Products">&lt; All Products</a>
    {% endif %}
  </div>
</div>

<div class="sixteen columns" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ product.id }}">
	<div class="section product_section clearfix">
	  
  	 {% if settings.product_images_position == 'left' %}             
       {% include 'product-images' %}
     {% endif %}

     <div class="eight columns {%if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
       <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

       <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
         
         <span class="sold_out">{% if product.available == false %}{{ settings.sold_out_text }} - {% endif %}</span>
         <span itemprop="price" content="{{ product.price | money_without_currency }}" class="{% if product.compare_at_price_max > product.price %}sale{% endif %}">
            <span class="current_price">
              {{ product.price | money }}
            </span>
         </span>
         <span class="was_price">
          {% if product.price < product.compare_at_price_max %}
            {{ product.compare_at_price | money }}
          {% endif %}
         </span>
       </p>
     
      {% include 'product-notify-me' %}

       {% if settings.product_description_position == "top" %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
         {% if product.available %}<hr />{% endif %}
       {% endif %}

       {% include 'product-form' %}

       {% if settings.product_description_position == "bottom" %}
        {% if product.available %}<hr />{% endif %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
       {% endif %}

       <hr />
     
       <div class="meta">
         {% if settings.display_collections %}
           <p>
             <span class="label">Collections:</span> 
             <span>
              {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
              {% endfor %}
            </span>
          </p>
         {% endif %}
       
         {% if settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">Category:</span> 
                {% endif %}

                {% unless tag contains 'meta-related-collection-' %}
                  <span>
                      <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="Products tagged {{ tag | escape}}">{{ tag }}</a>{% unless forloop.last %},{% endunless %} 
                  </span>
                {% endunless %} 
              {% endfor %}
            </p>
         {% endif %}
       
        {% if settings.display_type %}
           <p>
             <span class="label">Type:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
           </p>
        {% endif %}
       
        {% if settings.display_vendor %}
           <p>
             <span class="label">Vendor:</span> <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
           </p>
        {% endif %}
       </div>

       {% include "social-buttons" with "product" %}     
    </div>
    
    {% if settings.product_images_position == 'right' %}             
      {% include 'product-images' %}
    {% endif %}
    
  </div>
   
  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
</div>

{% if settings.display_related_products %}

  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign col = tag | remove: 'meta-related-collection-' %}
      {% assign collection = collections[col] %}
      {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
    {% endif %}
  {% endfor %}
    
  {% if col and collections[col].all_products_count > 0 %}
    <div class="sixteen columns">
      <h2>{{ settings.related_products_title }}</h2>
    </div>

    {% assign skip_product = product %}
    {% assign products = collections[col].products %}
    {% assign products_per_row = settings.products_per_row %}
    <div class="sixteen columns">
      {% include 'product-loop' %}
    </div>
  {% endif %}
  
{% endif %}